* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #F1F1F1;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #000;
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    background-color: #e0e0e0;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    padding: 20px;
    width: 80%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lexend', Arial, sans-serif;
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile:hover {
    transform: translateY(-10px); /* Efecto de "flotar" al hacer hover */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Sombra más intensa en hover */
}

.profile img {
    border-radius: 10px;
    width: 200px;
    height: auto;
}

.info {
    margin-left: 20px;
    color: #333;
}

.info p {
    margin-bottom: 15px;
}

.info a {
    color: #5A6D7E;
    text-decoration: none;
    font-weight: bold;
}
footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    color: #fff;
}

footer p {
    margin: 0; /* Elimina los márgenes por defecto */
    font-size: 0.9rem; /* Ajusta el tamaño de la fuente */
}
/* Para pantallas de hasta 768px (tablets y teléfonos móviles) */
@media (max-width: 768px) {
    .profile {
        flex-direction: column; /* Apilar imagen y texto en lugar de mostrarlos uno al lado del otro */
        text-align: center;
    }

    .profile img {
        width: 150px; /* Redimensionar la imagen para pantallas más pequeñas */
        margin-bottom: 20px;
    }

    .info {
        margin-left: 0; /* Eliminar margen cuando la información se apile */
    }
}

/* Para pantallas de hasta 480px (teléfonos móviles pequeños) */
@media (max-width: 480px) {
    h1 {
        font-size: 1.8em; /* Reducir tamaño del título */
    }

    .profile {
        width: 90%; /* Hacer el contenedor más pequeño */
    }

    footer p {
        font-size: 0.8rem; /* Ajustar tamaño del texto del pie de página */
    }
}
